<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>

    <h1>{{.Title}}</h1>
    
    <ul>
    {{ range .Files }}
        <li>
            <a href="/dl?f={{.Name | escape }}">{{ .Name }}</a> - {{ .Size | pretty_fsize }}
        </li>
    {{ end }}
    </ul>
    
    <style>
        @media (prefers-color-scheme: dark) {
html {
    background-color: black;
    color:aliceblue;
}
}
    </style>
</body>
</html>